<meta charset="utf-8">
<title>{{page.title}}</title>
<!-- Always force latest IE rendering engine -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{page.description}}">
<meta name="author" content="{{page.author}}">

<link rel="icon" type="image/png" href="img/slidify_logo_notext.png">

<link href="{{page.url.framework}}/assets/css/bootplus.css" rel="stylesheet">
<link href="{{page.url.framework}}/assets/css/bootplus-responsive.css" rel="stylesheet">
<link href="{{page.url.framework}}/assets/css/font-awesome.min.css" rel="stylesheet">
<link href="{{page.url.framework}}/assets/css/docs.css" rel="stylesheet">
<link href="{{page.url.highlighter}}/css/{{page.hitheme}}.css" rel="stylesheet">

<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="../assets/js/html5shiv.js"></script>
<![endif]-->


<style>
  p {
    text-align: justify;
  }
  .nav [class^="icon-"] {
    line-height: normal;
  }
  
  ol.linenums {
    
  }
</style>

<!-- Fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{page.url.framework}}/assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{page.url.framework}}/assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{page.url.framework}}/assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="{{page.url.framework}}/assets/ico/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon" href="{{page.url.framework}}/assets/ico/favicon.png">
